/*
Colors used:
Primary Color for hyperlink (Blue): #05676e;
Secondary Color for hyperlink (Green): #489c79;
Primary Color (light green): #F6FCF7;
Secondary Color (darker Green): #8AA08D;
active test color: 26542C;
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

#contact {
  background-color: #F6FCF7;
}

h1 {
  line-height: 1.0;
}

h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}
h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: black;
}
a:hover,
a:focus {
  color: #85D690;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #26542C;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: white;
  color:#8AA08D; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #8AA08D; /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}

.button:visited { /* visited link */
  color: #8AA08D;
}

.button:hover {
  background-color: #8AA08D;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active
{
  color: #ffffff;
  text-decoration: none;
}
.button.contact {
  background-color: #26542C;
  color: #F6FCF7;
  text-transform: uppercase;
  border: 2px solid #26542C;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.button.contact:hover {
  background-color: #26542C;
  color: #ffffff;
}
.button.contact:active {
  background-color: #072E0C;
  color: #ffffff;
}

.download-cv{
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #26542C;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #26542C; /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}
.download-cv:hover{
  background-color: #F6FCF7;
  color:#26542C;
}
#hero {
  text-align: center;
 }



/* Layout styling */
.center {text-align: center;}
.container {
  padding: 10px 15px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.socialmedia {
  padding: 50px 15px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
footer{
  text-align: center;
  padding:50px 20px;
}
footer h3 {
  color:#26542C;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  padding-top: 20px;
  width: 100%; /* Centers text */
}
#subtitle{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
}
#work {
  padding: 40px 0;
}
#work h2{
  padding:30px;
  color:#8AA08D;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #C1D2C3;
}
#diction {
      padding-top: 20px;
      border-top: 1px solid #C1D2C3;
    }

header {
  background-color: #F6FCF7;
  padding: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  box-shadow:0px 10px 5px 0px rgba(50, 50, 50, 0.4);
  position: fixed;
}

.logo {
  max-width: 200px;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited{
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8AA08D;
}
nav > ul > li > a:hover{
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8DD990;
}
nav > ul > li > a:active{
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #26542C;
}
nav {
  display: inline-block;
  width: 100%;
}
#hero {
  background-color: #F6FCF7;
  padding: 20px 0;
}
main, #project {
  padding-top: 116.78px;
}

#instagram {
  width: 40px;
  text-align: center;
  margin: 0 10px;
}
#linkedin {
  width: 40px;
  margin: 0 10px;
  text-align: center;
}
#behance {
  width: 45px;
  margin: 0 5px;
  position: relative;
  top: 5px;
}


/*about page styling */
#about {
  padding-top: 50px;
  text-align: center;
}

#mystory p{
  text-align: left;
  padding-bottom: 10px;
}
#mystory {
  padding-bottom: 20px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
/*Home page styling */
.container {
  text-align: unset;
}
header {
  text-align: unset;
  padding: 20px 0 10px 20px;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
main, #project {
    padding-top: 100px;
  }
.logo {
    max-width: 180px;
  }
#hero {
    font-size: 1.1em;
  }
footer {
      font-size: 1.1em;
      padding:60px 20px;
    }

.column.col-md-6.col-lg-7 {
      width: 50%;
    }
.column.col-md-6.col-lg-5 {
          width: 50%;
        }
[class*="col-"] {
      float: left;
      padding: 0 10px;
    }
.row::after {
      content: "";
      clear: both;
      display: table;
    }
#diction {
      padding-top: 20px;
      border-top: 1px solid #C1D2C3;
    }
.container {
          padding: 10px 20px;
          max-width: 950px;
          margin: 0 auto;
        }

/*animation */
#about-picture{
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/*About page styling */
#about h2{
  text-align: center;
  padding:5px 0;
}
.about-content{
  padding-bottom: 100px;
}
.col-md-2 {
      width: 22.5%;
      padding-left:25px;
      text-align: left;
    }
#skills-tools, #mystory {
  float: left;
  padding: 0 10px;
  width: 50%;
}
.row {
      margin: 20px 0; /* 25px top and bottom, 0 left and right */
    }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

main, #project {
      padding-top: 90px;
    }
/*Home page styling */
.container {
          padding: 10px 20px;
          max-width: 950px;
          margin: 0 auto;
        }
#contact p {
    text-align: center;
    padding:0 120px;
    padding-bottom: 10px;
  }
#hero {
      font-size: 1.2em;
    }
footer {
      background-color: #F6FCF7
      padding:100px 20px;
      }
#diction {
      padding-top: 20px;
      border-top: 1px solid #C1D2C3;
    }
.column.col-md-6.col-lg-7 {
          width: 58.33%;
        }
.column.col-md-6.col-lg-5 {
          width: 41.66%;
            }
/*About page styling */

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1600px) {
/*Home page styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#diction {
    padding-top: 20px;
    border-top: 1px solid #C1D2C3;
  }
/*About page styling */
}
