/*
Colors used:
Primary Color for hyperlink (Blue): #05676e;
Secondary Color for hyperlink (Green): #489c79;
white:#ffffff;
black:#000000;
Background color:#F6FCF7;
Primary Button (darker green): #072E0C;
Seconday Button (light Green): #8AA08D;
active test color: 26542C/072E0C;
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 1.2em;
  font-weight: 700;
}
h4 {
  font-size: 1em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #000000;
}

a:hover,
a:focus {
  color: #072E0C;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #072E0C;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: white;
  color:#8AA08D; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #8AA08D; /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}
.button:visited { /* visited link */
  color: #8AA08D;
}
.button:hover {
  background-color: #8AA08D;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active
{
  color: #ffffff;
  text-decoration: none;
}
.button.contact {
  background-color: #26542C;
  color: #F6FCF7;
  text-transform: uppercase;
  border: 2px solid #26542C;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.button.contact:hover {
  background-color: #26542C;
  color: #ffffff;
}
.button.contact:active {
  background-color: #072E0C;
  color: #ffffff;
}
.download-cv{
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #26542C;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #26542C; /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}
.download-cv:visited{
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #26542C;
  color: #ffffff;/* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #26542C; /* width of the border, type, color */
  transition-duration: 0.4s;
  transition-property: color;
}
.download-cv:hover{
  background-color: #F6FCF7;
  color:#26542C;
}




/* Layout styling */
.center {text-align: center;}
.container {
  padding: 10px 15px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #F6FCF7;
  padding: 20px 20px 5px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  box-shadow:0px 10px 5px 0px rgba(50, 50, 50, 0.4);
  position: fixed;
}
nav {
  display: inline-block;
  width: 100%;
}
.logo {
  max-width: 200px;
  text-align: center;
  padding-bottom:5px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited{
  color: #8AA08D;
}
nav > ul > li > a:hover{
  color: #8DD990;
}
nav > ul > li > a:active{
  color: #8DD990;
}
main{
  padding-top: 116.78px;
}
#hero {
  background-color: #F6FCF7;
  padding: 20px 0;
}
#hero h1 {
  padding-top: 20px;
  width: 100%;
  text-align:center; /* Centers text */
}
#hero span{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
}
#work {
  padding: 40px 0;
  border-top: 1px solid #C1D2C3;
}

#work h2{
  color:#8AA08D;
}
#work p{
  text-align: left;
  padding:0 10px;
}
.row {
  padding:25px 0;
  border-bottom: 1px solid #C1D2C3;
}
.row-noborder {
  padding:25px 0;
}
.animation {
  padding: 25px 0;
}
footer{
  border-top:1px solid #C1D2C3;
  background-color: #F6FCF7;
  padding:30px 20px;
}
footer h3 {
  color:#26542C;
}
.socialmedia {
  padding: 50px 15px;
  text-align: center;
  max-width: 1200px;
}
#instagram {
  width: 40px;
  text-align: center;
  margin: 0 10px;
}
#linkedin {
  width: 40px;
  margin: 0 10px;
  text-align: center;
}
#behance {
  width: 45px;
  margin: 0 5px;
  position: relative;
  top: 5px;
}





/*about page styling */
.about h1{
  padding-top:20px;
  color:#8AA08D;
}
#mystory p{
  text-align: left;
  padding-bottom: 10px;
}
#mystory {
  padding-bottom: 20px;
}
#skillsandtools ul li {
  list-style-type:none;
}
#skillsandtools ul {
  padding:0;
}





/* Snapshot styling */
  .snapshot {
    padding-top: 150px;
    color:#E57272;
  }
  .snapshot .empty{
    padding:130px;
  }
  .snapshot-graphic-1{
    padding:20px;
  }
  .snapshot-logo{
    padding:50px 100px;
    align-items: center;
  }
  .snapshot-row {
    padding:10px 30px;
    border-top: 1px solid #E57272;
  }
  .snapshot-row ul{
  padding-inline-start: unset;
  padding-left: 20px;
  }
  .snapshot-row ul li{
  text-align: left;
  padding:3px 0;
  }
  .snapshot h2, h3{
    text-align:center;
  }
  .snapshot-statistic{
    width:50%;
    float:left;
    padding:10px;
  }
  .snapshot-tools picture{
    padding:0 5px;
  }
  #miro, #usabilityhub, #figma, #googleform, #optimalworkshop{
    width:16.66%;
    display:inline-block;
  }
  #design-process .center{
    border-top:1px solid #E57272;
    padding:30px;
  }
  #design-process ol li{
    list-style-type: none;
  }
    #design-process ol {
    padding-inline-start: unset;
  }
/*understand*/
  #ca-image{
    padding: 10px 40px;
  }
  .interview{
    padding:30px 0;
  }
  .interview span{
    font-weight: 700;
  }
  #interview-image{
    padding: 10px 40px;
  }
/*define*/
 #persona-image{
  padding: 0px 40px;
 }
 .user-journey{
  padding:30px 0;
 }
 #user-journey-image{
  padding: 0px 40px;
 }
 .user-flow{
   padding:30px 0;
 }
 #user-flow-image{
   padding: 0px 50px;
 }
 /*ideate*/
 .card-sorting{
padding:30px 0;
 }
 #card-sorting-image{
   padding:0 40px;
 }
 .ia{
  padding:30px 0;
 }
 #ia-image{
   padding:0 40px;
 }
 /*prototype*/
 #lofi-image{
   padding: 10px 60px;
 }
 #hifi-image{
    padding: 10px 100px;
  }
  .hifi{
    padding:30px 0;
  }
  /*test*/
.ab-testing{
  padding:30px 0;
}
.button.design-system {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E57272;
  color:white; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border:#F6D0D0;
  transition-duration: 0.4s;
  transition-property: color;
}
.button.design-system:visited { /* visited link */
  color: white;
}
.button.design-system:hover {
  background-color: #E57272;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.design-system:active
{
  color: #ffffff;
  text-decoration: none;
}
.button.prototype {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E57272;
  color:white; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border:#F6D0D0;
  transition-duration: 0.4s;
  transition-property: color;
}
.button.prototype:visited { /* visited link */
  color: white;
}
.button.prototype:hover {
  background-color: #E57272;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.prototype:active
{
  color: #ffffff;
  text-decoration: none;
}
.button-padding{
  padding:10px;
}
/*conclusion*/
#conclusion{
  padding:30px 5px;
}
#conclusion span{
  font-weight: 700;
}
.snapshot main{
  padding-bottom:50px;
}






  /* Diction styling */
.diction{
  padding-top: 150px;
}
.diction-row {
  padding:10px 10px;
  border-top: 1px solid #3A3A3A;
  text-align:left;
}
.diction h4{
  text-align: center;
}
.diction-row ol{
padding-inline-start: unset;
padding:0 20px;
}
.diction-row ol li{
text-align: left;
padding:3px 0;
}
.diction ol li {
  text-align: left;
}
.table-of-content{
  border-top: 1px solid #3A3A3A;
  text-align: center;
  padding:20px 0;
}
.table-of-content ol li{
  list-style-type: none;
}
.table-of-content ol {
  padding-inline-start: unset;
}
.left{
  text-align: left;
}
.diction-persona {
  padding: 10px 15px;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}
.diction-persona span{
  font-weight: 700;
}
.diction-userflow {
  padding: 10px 20px;
  text-align: left;
  max-width: 1200px;
}
.diction-userflow span{
  font-weight: 700;
}
.button.diction-testplan {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #C4C4C4;
  color:white; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border:none;
  transition-duration: 0.4s;
  transition-property: color;
}
.button.diction-testplan:visited { /* visited link */
  color: white;
}
.button.diction-testplan:hover {
  background-color: #C4C4C4;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.diction-testplan:active
{
  color: white;
  text-decoration: none;
}
.button.diction-prototype {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #C4C4C4;
  color:white; /* needed to override the default link color */
  font-weight: 400;
  padding: 20px;
  border-radius: 10px;
  border:none;
  transition-duration: 0.4s;
  transition-property: color;
}
.button.diction-prototype:visited { /* visited link */
  color: white;
}
.button.diction-prototype:hover {
  background-color: #C4C4C4;
  color:white;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.diction-prototype:active
{
  color: white;
  text-decoration: none;
}
.conclusion{
  border-top: 1px solid #8AA08D;
  padding: 10px 20px;
  text-align: left;
  max-width: 1200px;
}
.conclusion h2{
  text-align: center;
  color:#8AA08D;
}
.conclusion span{
  font-weight: 700;
  color:#072E0C;
}
.conclusion ul {
  padding:20px;
}
.conclusion ul li{
  padding:5px 0;
}
.empty{
  padding:30px;
}
.thankyou{
  padding:50px 0;
}

/*animation*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}







/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header .container {
    text-align: unset;
  }
  .container {
    padding: 10px 30px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
 .logo {
    padding:10px 20px 0px 20px;
    }
  main{
        padding-top: 100px;
      }
  #hero span {
      display: block;
    }
[class*="col-"] {
    float: left;
    padding:10px;
  }
  .column.col-md-6.col-lg-7 {
    width: 50%;
  }
  .column.col-md-6.col-lg-5{
    width: 50%;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
}
 .row-noborder::after {
 content: "";
 clear: both;
 display: table;
}

#work p{
  text-align: left;
  padding:0 20px;
}
#work .empty{
  border-bottom: 1px solid #C1D2C3;
}
.getintouch{
  padding: 10px 200px;
}


/*about page*/
#mystory a{
  padding:20px;
}
#mystory{
  padding:20px 100px;
}
.column.col-6 {
    width: 50%;
}
.empty{
  padding:30px 100px;
}
#skillsandtools .empty{
    border-top: 30px solid #C1D2C3;
}
#skillsandtools h2{
  display:inline-block;
}

/*snapshot page*/
.snapshot .empty{
  padding:250px;
}
.snapshot-statistic{
  width:50%;
  float:center;
  padding:70px 100px;
}
.snapshot-logo{
  text-align: center;
  padding:30px 0;
}
#snapshot-logo{
  width:200px;
}
.snapshot-row {
  padding:50px 100px;
  border-top: 1px solid #E57272;
}
.snapshot-row p{
  padding: 0 100px;
}
.snapshot-row ul{
padding-inline-start: unset;
padding-left: 100px;
}
.snapshot-row ul li{
text-align: left;
padding:3px 0;
}
.snapshot-tools{
  padding:0 100px;
  text-align: center;
}
.snapshot-tools picture{
  padding:0 5px;
}
#miro, #usabilityhub, #figma, #googleform, #optimalworkshop{
  width:10%;
  display:inline-block;
}
/*understand*/
.ca{
  padding:100px 0;
}
#ca-image{
  padding: 10px 100px;
}
.interview{
  padding:100px 0;
}
#interview-image{
  padding: 10px 100px;
}
/*define*/
.persona{
  padding:100px 0;
}
#persona-image{
padding: 0px 300px;
}
.user-journey{
padding:100px 0;
}
#user-journey-image{
padding: 0px 300px;
}
.user-flow{
 padding:100px 0;
}
#user-flow-image{
 padding: 0px 300px;
}
/*ideate*/
.card-sorting{
padding:100px 0;
}
#card-sorting-image{
 padding:0 90px;
}
.ia{
padding:100px 0;
}
#ia-image{
 padding:0 300px;
}
/*prototype*/
.lofi{
padding:100px 0;
}
#lofi-image{
 padding: 10px 60px;
}
.hifi{
padding:100px 0;
}
#hifi-image{
  padding: 10px 100px;
}
.ab-testing{
padding:100px 0;
}
.snapshot main{
  padding-bottom:300px;
}
.snapshot-buttons{
  padding: 50px 0;
}



/*diction styling:large*/

.diction-row {
  padding:50px 100px;
  border-top: 1px solid #3A3A3A;
}

.diction-row ol{
padding-inline-start: unset;
padding:0 20px;
}
.diction-row ol li{
text-align: left;
padding:3px 0;
}
.diction ol li {
  text-align: left;
}
.table-of-content{
  border-top: 1px solid #3A3A3A;
  text-align: center;
  padding:20px 20px;
}
.table-of-content ol li{
  list-style-type: none;
  text-align: center;
}
.table-of-content ol {
  padding-inline-start: unset;
}

#diction-persona-image {
  padding: 100px;
}
.diction-personap{
  padding:20px 0;
}
.diction.revision-needed{
  padding:100px 200px;
}
.diction.prototyp.position{
  text-align: center;
  padding:20px auto;
}
.conclusion{
  border-top: 1px solid #8AA08D;
  padding: 200px 250px;
  text-align: left;
  max-width: 1200px;
}
.thankyou{
  padding:250px 0;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  [class*="col-"] {
      float: left;
      padding:10px;
    }
  main{
        padding-top: 100px;
      }
  .column.col-md-6.col-lg-7 {
            width: 58.33%;
          }
  .column.col-md-6.col-lg-5 {
            width: 41.66%;
              }
  #work p{
      text-align: left;
      padding:0 20px;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*about*/
#mystory{
  padding:20px 20px;
}
#skillsandtools{
  padding:20px 20px;
}

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
